* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Roboto';
}


.header {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin-top: 20px;
}

.header__link-color {
  color: #EF4423;
  text-decoration: none;
  font-weight: 700;
  margin-right: 15px;
}

.header__link {
  color: #3A3838;
  font-weight: 700;
  transition: 0.5s;
  margin-right: 15px;
}

.header__link:hover {
  color: #EF4423;
}

.text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  /* max-width: 400px; */
  width: 100%;
  /* height: 372px; */
  text-align: center;
  background: #B71C1C;

}

.rasm {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 25px;
}

.rasm__1 {

  /* width: 370%; */
  width: 100%;
}

.txt {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  color: #FFFFFF;
  padding: 8px;
  text-align: start;
}

.txt1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400px;
  font-size: 18px;
  color: #EBEBEB;
  padding: 5px 15px 15px 15px;
  text-align: start;

}



.dork {
  width: 100%;
  height: 100%;
  background: #6A1B9A;

}

.txt__2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  color: #FFFFFF;
  padding: 10px;

}

.word {
  width: 100%;
  display: block;
}


.txt__3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #EBEBEB;
  padding: 5px 15px 15px 15px;

}

.wrapper {
  width: 100%;
  display: flex;

}

.dook {
  width: 100%;
  background: #303F9F
}

.name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  padding: 7px;

  color: #FFFFFF;

}

.text__4 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
  text-align: start;
  padding: 5px 15px 15px 15px;

}

.wrap {
  width: 100%;
  background: #00695C;
}

.name__2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 19px;

  padding: 9px;
  color: #EBEBEB;
}

.txt__4 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  text-align: start;
  padding: 5px 15px 15px 15px;

}

.rasm__w {



  width: 100%;

}

.header__logo {
  display: block;
  width: 100%;
  padding-top: 19px;


}

.home {
  display: flex;
  justify-content: center;

  font-size: 32px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.main__content {
  display: flex;
  justify-content: center;
  background: #EBEBEB;
  gap: 60px;
  width: 100%;
  padding: 0 10px;
}

.main__text2 {
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 30px;
  width: 540px;

}

.main__nomer {
  margin-top: 20px;
  width: 540px;
  margin-bottom: 30px;

}

.footer__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 78px;
  background: #3A3838;
}


.header__link2 {
  color: #FFFFFF;
  font-weight: 700;
  transition: 0.5s;
  margin-right: 15px;

}

.header__link2:hover {
  color: #EF4423;
}

.rasm__main {
  height: 100%;
  width: 100%
}

.menu__header {
  display: none;
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-family: 'Roboto';
  font-size: 20px;
  text-transform: uppercase;

}







@media(max-width: 1842px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .rasm__1 {
    max-width: 470px;
  }

  .word {
    max-width: 470px;
  }

  .rasm__w {
    max-width: 470px;
  }

  .header__logo {
    max-width: 470px;
  }

  .text {
    max-width: 470px;
    display: flex;
    flex-direction: column-reverse;

  }

  .dook {
    max-width: 470px;
    display: flex;
    flex-direction: column-reverse;
  }

  .dork {
    max-width: 470px;
  }

  .wrap {
    max-width: 470px;
  }
}

@media(max-width: 1174px) {
  .main__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

}

@media(max-width: 1136px) {
  .rasm img {
    max-width: 700px;
  }
}

@media(max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer{
    display: none;
  }

  .logo {
    padding-bottom: 20px;
    padding-top: 10px;
  }

  .footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer__container {
    margin-top: 34px;

  }
}

@media(max-width: 742px) {
  .rasm img {
    max-width: 600px;
  }
}

@media(max-width: 660px) {
  .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu__header:hover {
    color: #303F9F;
    transition: 0.3s;
  }

  .menu__header:focus+.link {
    transform: translateX(0);
  }

  .link {
    top: 0;
    right: 0;
    position: fixed;
    flex-direction: column;
    display: flex;
    transform: translateX(100%);
    bottom: 0;
    box-shadow: 0 0 5px #000;
    background: rgba(0, 0, 0, 0.459);
    backdrop-filter: blur(10px);
    transition: 0.3s linear;
    padding: 20px 20px;
    gap: 20px;
  }




  .header__link {
    position: relative;
    display: inline-block;

  }

  .logo {
    transform: translateX(-100%);
  }

  .menu__header {
    display: block;
    margin-top: 40px;
    transform: translateX(150px);

  }

  .container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: start;
  }

  .footer__container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: start;
    padding: 20px 0;
  }
}

@media(max-width: 614px) {
  .rasm img {
    max-width: 500px;
  }
}

@media(max-width: 564px) {
  .main__nomer {
    margin-bottom: 6px;
    margin-top: 0;
    width: 351px;
    font-size: 20px;
    text-align: center;

  }

  .menu__header {
    transform: translateX(-1px);
  }

  .main__text2 {
    width: 320px;
    text-align: justify;
    margin: 0 auto;
  }

  .logo {
    transform: translateX(10px);
  }

}

@media(max-width: 520px) {
  .rasm img {
    max-width: 400px;
    width: 100%;
  }
}

@media(max-width: 352px) {
  .main__nomer {
    margin-bottom: 6px;
    margin-top: 0;
    width: 292px;
    font-size: 15px;
    text-align: center;

  }

  .main__text2 {
    width: 252px;
    text-align: justify;
    margin: 0 auto;
  }

}